body{
	margin-top: 0px;
    background-size: cover;
}
h1{
    font-family: "Arial" ;
}
.container-fluid{
    margin-top:60px;
}

.img-responsive{
    margin: 0 auto;
}

.fa{
    font-size: 36px!important;
}
div.about-me ul li{
  list-style-type: none;
}
